* {
    padding: 0px;
    margin: 0px;
}

nav {
    background-color: rgb(2, 0, 9);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3em;
}

.home-header h1 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.home-img1 {
    width: 100px;
}

.home-img1 img {
    margin: auto 5px;
    /* float: left; */
    width: 600px;
    height: 400px;
    text-align: center;
}

