/* * {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url('https://wallpaperaccess.com/full/5580641.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    height: cover;
}

nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3em;
    padding: 10px;
}

.home-header {
    display: flex;
    flex-direction: column;
}

.home-image {
    height: 15%;
    width: 15%;
    padding: 10rem;
    border-radius: 50%;
    transform:rotate(-40deg);
}

.home-header h1 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    color:rgb(91, 212, 239);
}

h1:hover {
    animation: glitch .25s ease-out;
}

@keyframes glitch {
    0% {
        transform: translateX(0);
        text-shadow:
        0 0 0 #0227f5,
        0 0 0 #4affff,
        0 0 0 #ff0825,
        0 0 0 #fffb19;
    }
    20% {
        transform: translateX(-0.1em);
        text-shadow:
        0.1em 0 0 #0227f5,
        -0.05em 0 0 #4affff,
        -0.1em 0 0 #ff0825,
        -0.2em 0 0 #fffb19;
    }
    40% {
        transform: translateX(0.05em);
        text-shadow:
            -0.05em 0 0 #0227f5,
            -0.1em 0 0 #4affff,
            0.05em 0 0 #ff0825,
            0 0 0 #fffb19;
    }
    60% {
        transform: translateX(-0.1em);
        text-shadow:
            0.2em 0 0 #0227f5,
            0.05em 0 0 #4affff,
            -0.1em 0 0 #ff0825,
            -0.05em 0 0 #fffb19;
    }
    80% {
        transform: translateX(0.05em);
        text-shadow:
            0 0 0 #0227f5,
            0 0 0 #4affff,
            0 0 0 #ff0825,
            0 0 0 #fffb19;
    }
} */
/* got this effect from a tiktok */

/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
}

.main img:hover {
    transform: translateY(5px);
    box-shadow: 0 2px 0 rgb(91, 212, 239);
} 

h3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    color:rgb(91, 212, 239);
}

h4 {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    color:rgb(91, 212, 239);
}

.url {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.x {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}

.add-donut {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.donutForm {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    color:rgb(91, 212, 239);
}

.update-donut {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    color:rgb(91, 212, 239);
}

.about {
    padding: 10px;
    color:rgb(91, 212, 239);
}

.about h1 {
    display:flex;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}

h1 {
    text-align: center;
    margin: 10px;
    color:rgb(91, 212, 239);
    padding: 20px;
}

h2 {
    text-align: center;
    margin: 10px;
    color:rgb(91, 212, 239);
    padding: 40px;
}

body {
    font-family: Helvetica;
}

p {
    display: flex;
    justify-content: center;
    color:rgb(91, 212, 239);
}

a {
    text-align: center;
    color:rgb(91, 212, 239);
} 

.button1 {
    background: #fff;
    color: #222;
    padding: 1em 2em;
    margin-left: 10px;
    border-radius: 6px;
    margin-top: 25px;
    font-size: 1rem;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 0 6px 0 rgb(91, 212, 239);
    transition: 0.2s;
    
}

.button2 {
    background: #fff;
    color: #222;
    padding: 1em 2em;
    margin-left: 25px;
    border-radius: 6px;
    margin-top: 25px;
    font-size: 1rem;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 0 6px 0 rgb(91, 212, 239);
    transition: 0.2s;
}

.button3 {
    background: #fff;
    color: #222;
    padding: 1em 2em;
    margin-left: 10px;
    border-radius: 6px;
    margin-top: 25px;
    font-size: 1rem;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 0 6px 0 rgb(91, 212, 239);
    transition: 0.2s;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.buttons1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button:hover {
    transform: translateY(5px);
    box-shadow: 0 2px 0 #222;
} 

label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    text-align: right;
    width: 300px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  
input {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
  } */

  /* #donut-picture-1 {
    background-image: url("https://i.imgur.com/0RcLeBE.jpeg");
  }
  
  .donut-picture {
    width: 200px;
    height: 200px;
    background-size: cover;
    margin-top: 210px;
    margin-left: 850px;
    border-radius: 25%;
    transform:rotate(-40deg);
  } */

  /* #donut-picture-1 {
    background-image: url("https://i.imgur.com/0RcLeBE.jpeg");
    background-size: cover;
}

.donut-picture {
    width: 10rem;
    height: 10rem;
    border-radius: 25%;
    transform:rotate(-40deg);
} */

/* .main img:hover {
    transform: translateY(5px);
    box-shadow: 0 2px 0 rgb(91, 212, 239);
} 

  @keyframes vibrate {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-1deg); }
    20% { transform: rotate(1deg); }
    30% { transform: rotate(0deg); }
    40% { transform: rotate(1deg); }
    50% { transform: rotate(-1deg); }
    60% { transform: rotate(0deg); }
    70% { transform: rotate(-1deg); }
    80% { transform: rotate(1deg); }
    90% { transform: rotate(0deg); }
    100% { transform: rotate(-1deg); }
  }

  .home-image:hover {
    animation: vibrate 0.5s;
    animation-iteration-count: infinite;
  } */
    
  /* Got this effect from => https://imagekit.io/blog/creating-css-image-effects/ */

  /* * {
    padding: 0;
    margin: 0;
  }
  
  body {
    background-image: url('https://wallpaperaccess.com/full/5580641.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: Helvetica;
  }
  
  nav {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3em;
    padding: 10px;
  }
  
  .home-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
  }
  
  .home-image {
    height: 15%;
    width: 15%;
    padding: 10rem;
    border-radius: 50%;
    transform: rotate(-40deg);
  }
  
  .home-header h1 {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    color: rgb(91, 212, 239);
  }
  
  h1:hover {
    animation: glitch 0.25s ease-out;
  }
  
  @keyframes glitch {
    0% {
      transform: translateX(0);
      text-shadow: 0 0 0 #0227f5, 0 0 0 #4affff, 0 0 0 #ff0825, 0 0 0 #fffb19;
    }
    20% {
      transform: translateX(-0.1em);
      text-shadow: 0.1em 0 0 #0227f5, -0.05em 0 0 #4affff, -0.1em 0 0 #ff0825, -0.2em 0 0 #fffb19;
    }
    40% {
      transform: translateX(0.05em);
      text-shadow: -0.05em 0 0 #0227f5, -0.1em 0 0 #4affff, 0.05em 0 0 #ff0825, 0 0 0 #fffb19;
    }
    60% {
      transform: translateX(-0.1em);
      text-shadow: 0.2em 0 0 #0227f5, 0.05em 0 0 #4affff, -0.1em 0 0 #ff0825, -0.05em 0 0 #fffb19;
    }
    80% {
      transform: translateX(0.05em);
      text-shadow: 0 0 0 #0227f5, 0 0 0 #4affff, 0 0 0 #ff0825, 0 0 0 #fffb19;
    }
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
  }
  
  .main img:hover {
    transform: translateY(5px);
    box-shadow: 0 2px 0 rgb(91, 212, 239);
  }
  
  h3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    color: rgb(91, 212, 239);
  }
  
  h4 {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 5px;
    color: rgb(91, 212, 239);
  }
  
  .url {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .x {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }
  
  .add-donut,
  .donutForm,
  .update-donut {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    color: rgb(91, 212, 239);
  }
  
  .about {
    padding: 10px;
    color: rgb(91, 212, 239);
  }
  
  .about h1 {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  
  h1,
  h2 {
    text-align: center;
    margin: 10px;
    color: rgb(91, 212, 239);
    padding: 20px;
  }
  
  p,
  a {
    display: flex;
    justify-content: center;
    color: rgb(91, 212, 239);
  }
  
  .button1,
  .button2,
  .button3 {
    background: #fff;
    color: #222;
    padding: 1em 2em;
    margin: 10px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 0 6px 0 rgb(91, 212, 239);
    transition: 0.2s;
  }
  
  .buttons,
  .buttons1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  button:hover {
    transform: translateY(5px);
    box-shadow: 0 2px 0 #222;
  }
  
  label {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    text-align: right;
    width: 300px;
    line-height: 40px;
    margin-bottom: 10px;
  }
  
  input {
    height: 20px;
    flex: 0 0 200px;
    margin-left: 10px;
  }
  
  @keyframes vibrate {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(-1deg);
    }
    20% {
      transform: rotate(1deg);
    }
    30% {
      transform: rotate(0deg);
    }
    40% {
      transform: rotate(1deg);
    }
    50% {
      transform: rotate(-1deg);
    }
    60% {
      transform: rotate(0deg);
    }
    70% {
      transform: rotate(-1deg);
    }
    80% {
      transform: rotate(1deg);
    }
    90% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-1deg);
    }
  }
  
  .home-image:hover {
    animation: vibrate 0.5s;
    animation-iteration-count: infinite;
  }
  
  /* Media Queries */
  
  /* @media only screen and (max-width: 768px) {
    .home-header {
      margin-top: 2rem;
    }
    
    .home-image {
      padding: 5rem;
    }
    
    h1,
    h2 {
      padding: 10px;
    }
    
    img {
      width: 80%;
    }
    
    h3,
    .url,
    .x,
    .add-donut,
    .donutForm,
    .update-donut {
      width: 100%;
    }
    
    .button1,
    .button2,
    .button3 {
      margin: 10px 5px;
    }
  }  */

  /* Nav Bar   */

  /* .navbar {
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: background-color 0.3s;
    height: 60px;
  }
  
  .navbar.open {
    background-color: rgba(255, 255, 255, 0.9);
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1000;
  }
  
  .navbar-toggle div {
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .navbar-toggle.open div:nth-child(1) {
    transform: rotate(45deg) translate(0, 8px);
  }
  
  .navbar-toggle.open div:nth-child(2) {
    opacity: 0;
  }
  
  .navbar-toggle.open div:nth-child(3) {
    transform: rotate(-45deg) translate(0, -8px);
  }
  
  .navbar-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f8f8f8;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10000;
  }
  
  .navbar-menu.open {
    display: block;
  }
  
  .navbar-links {
    display: flex;
    flex-direction: column;
  }
  
  .navbar-links a {
    color: #222;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .navbar-links a:hover {
    background-color: #eee;
  }
  
  .navbar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
  }
  
  @media only screen and (min-width: 768px) {
    .navbar {
      flex-direction: row;
      height: auto;
    }
  
    .navbar-brand {
      margin-right: 20px;
    }
  
    .navbar-toggle {
      display: none;
    }
  
    .navbar-menu {
      display: flex;
      position: relative;
      top: auto;
      right: auto;
      background-color: transparent;
      padding: 0;
      box-shadow: none;
    }
  
    .navbar-links {
      flex-direction: row;
    }
  
    .navbar-links a {
      font-size: 1rem;
      padding: 0 10px;
      border-radius: 0;
    }
  
    .navbar-overlay {
      display: none;
    }
  } */

  /* This is my old css I used to have for this app and I wanted to keep it for memorial (the code above) */
  
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Nav Bar  */
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 3rem;
    background-image: url("https://images.pexels.com/photos/911738/pexels-photo-911738.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .navbar-logo {
    font-weight: bold;
    font-size: 24px;
  }
  
  .navbar-menu {
    display: none;
    list-style: none;
  }
  
  .navbar-mobile-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    padding-right: 10px;
    position: relative;
    z-index: 2;
    width: 30px;
  }
  
  .navbar-mobile-toggle-icon {
    display: block;
    width: 2.5rem;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: background-color 0.3s;
  }
  
  .navbar-mobile-toggle-icon:last-child {
    margin-bottom: 0;
  }
  
  .navbar-menu.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 6%;
    background-color: #f0f0f0;
    z-index: 10;
  }
  
  .navbar-mobile-toggle.open + .navbar-menu {
    display: flex;
    flex-direction: column;
    right: 1rem;
    width: auto;
    background-color: #f0f0f0;
    padding: 20px;
    margin-top: 3rem;
  }
  
  .navbar-mobile-toggle.open .navbar-mobile-toggle-icon:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  
  .navbar-mobile-toggle.open .navbar-mobile-toggle-icon:nth-child(2) {
    opacity: 0;
  }
  
  .navbar-mobile-toggle.open .navbar-mobile-toggle-icon:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  
  .navbar-item {
    margin: 15px 0;
  }
  
  .navbar-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 25px;
    list-style: none;
  }
  
  .navbar-link:hover {
    color: #666;
  }
  
  @media (max-width: 767px) {
    .navbar-menu {
      display: none;
    }
  
    .navbar-mobile-toggle {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;
    }
  
    .navbar-link {
      font-size: 20px;
    }
  
    .navbar-logo {
      text-align: center;
    }
  
    .navbar-menu.open {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  
    .navbar-mobile-toggle.open .navbar-mobile-toggle-icon:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .navbar-mobile-toggle.open .navbar-mobile-toggle-icon:nth-child(2) {
      opacity: 0;
    }
  
    .navbar-mobile-toggle.open .navbar-mobile-toggle-icon:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  
    .navbar-menu.open .navbar-item {
      margin: 15px 0;
    }
    .navbar-mobile-toggle-icon {
        width: 30px;
      }
  }
  
  /* Home Page  */

  .home-container {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/11124951/pexels-photo-11124951.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .home-words-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
  }
  
  .home-title {
    font-size: 4rem;
    margin-bottom: 20px;
  }
  
  .home-image {
    width: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .home-description {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  
  @media (max-width: 768px) {
    .home-title {
      font-size: 26px;
    }
  
    .home-image {
      width: 200px;
    }
  
    .home-description {
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    .home-title {
      font-size: 22px;
    }
  
    .home-image {
      width: 150px;
    }
  
    .home-description {
      font-size: 14px;
    }
  }

  /* About Page  */
  
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; /* Center content vertically */
        padding: 20px;
        text-align: center;
        height: 100vh; /* Make the container full height */
        box-sizing: border-box; /* Include padding in height calculation */
        background-image: url("https://images.pexels.com/photos/1982485/pexels-photo-1982485.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      
      .about-content {
        margin-bottom: 20px;
      }
      
      .about-title {
        font-size: 2rem;
        font-weight: bold;
        color: #333;
      }
      
      .about-description {
        font-size: 1.125rem;
        color: #666;
        line-height: 1.5;
      }
      
      .about-image {
        width: 100%;
        max-width: 600px;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 6rem;
      }
      
      /* Mobile-friendly styles */
      @media (max-width: 600px) {
        .about-content {
          margin-bottom: 10px;
          background-color: red;
        }
      
        .about-title {
          font-size: 24px !important; 
        }
      
        .about-description {
          font-size: 16px !important; 
        }
      }

      /* Donut Shop Page  */

      .main-donutShop-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        text-align: center;
        background-image: url("https://images.pexels.com/photos/796607/pexels-photo-796607.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      
      .title {
        font-size: 32px;
        font-weight: bold;
        color: #333;
        margin-bottom: 20px;
        transition: transform 0.3s;
        color: white;
      }
      
      .donutShop-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .donutShop-link {
        text-decoration: none;
        color: #333;
        margin-bottom: 20px;
        transition: transform 0.3s;
        color:white;
      }
      
      .donutShop-link:hover {
        transform: scale(1.05);
      }
      
      .donutShop-name {
        font-size: 24px;
        font-weight: bold;
      }
      
      .donutShop-image {
        width: 100%;
        max-width: 300px;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s;
      }
      
      .donutShop-image:hover {
        transform: scale(1.05);
      }
      
      /* Media Queries */
      @media (max-width: 600px) {
        .title {
          font-size: 24px;
        }
      
        .donutShop-name {
          font-size: 20px;
        }
      
        .donutShop-image {
          max-width: 250px;
        }
      }

      /* Donut Details  */

      .donut-shops {
        padding:20px;
        background-image: url("https://images.pexels.com/photos/6775241/pexels-photo-6775241.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }

      .main-donutShop-details {
        padding: 20px;
      }
      
      h1 {
        font-size: 32px;
        text-align: center;
        margin-bottom: 20px;
      }
      
      .donutShop-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
      }
      
      .donuts {
        background-color: #f0f0f0;
        border-radius: 8px;
        padding: 20px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      
      .donuts:hover {
        background-color: #e0e0e0;
      }
      
      .info-wrapper {
        text-align: center;
      }
      
      h3 {
        font-size: 24px;
        margin-bottom: 10px;
      }
      
      .img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
      }
      
      .img-wrapper img {
        width: 70%;
        height: auto;
        border-radius: 8px;
        object-fit: cover;
        object-position: center; 
        margin: 0 auto; 
      }
      
      p {
        font-size: 24px;
        margin-bottom: 0;
      }
      
      button {
        display: block;
        margin: 20px auto;
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 8px;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      
      button:hover {
        background-color: #666;
      }

      .donut-shop-image {
        width: 100%;
        height: auto;
        max-height: 500px;
        object-fit: cover;
        border-radius: 8px;
        object-fit: cover;
        object-position: center center;
      }
      
      .donut-image {
        width: 70%;
        height: auto;
        max-height: 500px;
        object-fit: cover;
        object-position: center center;
        border-radius: 15px;
        margin: 0 auto;
        display:block;
      }
      
      .info-wrapper {
        text-align: center;
      }

      .price {
        text-align: center;
      }

      @media (max-width: 767px) {
        .donutShop-container {
          grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }
      }

    /* Update Donut Form  */

    .update-donut {
        height: 77vh;
        margin: 0 auto;
        padding-top: 5rem;
        background-image: url("https://images.pexels.com/photos/6775241/pexels-photo-6775241.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      
      .heading {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
        padding-top: .5rem;
        padding-bottom: 2rem;
      }
      
      .form-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 1.5rem;
      }
      
      .label {
        font-size: 18px;
        text-align: center;
      }
      
      .input-field {
        padding: 10px;
        font-size: 16px;
        border-radius: 4px;
        border: 1px solid #ccc;
        width: 100%;
        box-sizing: border-box;
      }
      
      .submit-button {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 12px 24px;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      
      .submit-button:hover {
        background-color: #666;
      }
      
      @media (max-width: 767px) {
        .update-donut {
          max-width: 100%;
          border-radius: 0;
        }
      }

      .form-wrapper {
        align-items: center;
        justify-content: center;
        min-height: 200px;
        text-align: center;
      }
      
      .form-wrapper > div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        grid-gap: 0.5rem;
      }
      
      .input-field {
        width: 250px;
        max-width: 100%;
      }

    /* Donut Form  */

    .donutForm {
        height: 77vh;
        margin: 0 auto;
        padding-top: 5rem;
        background-image: url("https://images.pexels.com/photos/6775241/pexels-photo-6775241.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      
      .add {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
        padding-top: 0.5rem;
        padding-bottom: 2rem;
      }
      
      .donutForm form {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 1.5rem;
      }
      
      .donutForm label {
        font-size: 18px;
        text-align: center;
      }
      
      .donutForm input {
        padding: 10px;
        font-size: 16px;
        border-radius: 4px;
        border: 1px solid #ccc;
        width: 100%;
        box-sizing: border-box;
      }
      
      .donutForm button {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 12px 24px;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      
      .donutForm button:hover {
        background-color: #666;
      }
      
      @media (max-width: 767px) {
        .donutForm {
          max-width: 100%;
          border-radius: 0;
        }
      }
      
      .donutForm form {
        align-items: center;
        justify-content: center;
        min-height: 200px;
        text-align: center;
      }
      
      .donutForm form > div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        grid-gap: 0.5rem;
      }
      
      .donutForm input {
        width: 250px;
        max-width: 100%;
      }